[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs/
.vscode/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

.idea/
*.sln.iml

*.suo
*.user
*.userosscache
*.sln.docstates

*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

*.mdf
*.ldf
*.ndf

*.mdf
*.ldf


appsettings.Development.json
appsettings.Production.json
**/appsettings.*.json
!appsettings.json

secrets.json

connectionstrings.json


Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.DS_Store
.AppleDouble
.LSOverride


*.log
*.cache
*.dll
*.exe
*.pdb
*.suo
*.cache
*.csproj.user
*.csproj.nuget.*
project.lock.json
project.fragment.lock.json

